version: "3.9"

services:
  postgres:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: cv-postgres
      POSTGRES_PASSWORD: cv-postgres
      POSTGRES_DB: db_cv_match
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
