services:
  postgres:
    image: postgres:15
    restart: no
    environment:
      POSTGRES_USER: analitica
      POSTGRES_PASSWORD: analitica
      POSTGRES_DB: db_analitica_cv
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
